<body style="margin: 0; padding: 0;">
<div style="padding: 80px 10px; background-color: #CE1531; background-image: url(http://lab9.dnage.ru/resource/email/bodyBack_40.jpg);">
    <div style="margin: 0 auto; max-width: 630px; background-color: white;">
        <div style="padding: 10px;"><div style="padding: 35px 15px 38px; background-color: #CE1531; background-image: url(http://lab9.dnage.ru/resource/email/logoBack.png); background-position: center; background-size: 100% 100%;"><img src="http://lab9.dnage.ru/resource/email/logo.png" alt="ВГТРК Россия" style="margin: 0 auto; display: block;"></div></div>
        <div style="padding: 23px 30px 50px;">
            <h1 style="color: #CE1531; font-family: Lato, Verdana, 'Courier New'; font-size: 28px; font-weight: 700; line-height: 34px; letter-spacing: 0.5px">Здравствуйте!</h1>
            <p style="margin: 0 0 10px; color: #828282; font-family: Lato, Verdana, 'Courier New'; font-size: 16px; line-height: 19px; letter-spacing: 0.5px">Рады сообщить, что Ваше видео, снятое во время посещения стенда Всероссийской государственной телевизионной и радиовещательной компании на Международной выставке «РОССИЯ», уже готово!</p>
            <p style="margin: 0 0 10px; color: #828282; font-family: Lato, Verdana, 'Courier New'; font-size: 16px; line-height: 19px; letter-spacing: 0.5px">Его можно скачать по <a href="{{ video_link }}" style="color: #0042AA; text-decoration: underline">ссылке</a>.</p>
            <a href="{{ video_link }}" style="box-sizing: border-box; margin: 50px auto 0; padding: 20px 0 19px; display: block; background: #0042AA; color: #fff; max-width: 376px; text-align: center; border-radius: 20px; cursor: pointer; text-decoration: none; text-transform: uppercase; font-family: Lato, Verdana, 'Courier New'; font-size: 19px; letter-spacing: 0.5px">Скачать Ваше видео</a>
            <div style="margin: 33px 0 10px;"><img src="http://lab9.dnage.ru/resource/email/bigLove.png" style="width: 100%;" width="100%" /></div>

        </div>
        <div style="background: #0042AA; padding: 48px 30px 37px;">
            <table cellpadding="0" cellspacing="0" width="100%" style="margin: 0 0 8px">
                <tr>
                    <td valign="top" style="width: 18px; padding: 0 13px 0 0"><img src="http://lab9.dnage.ru/resource/email/arrowDouble.png" /></td>
                    <td valign="top" style="color: #fff; font-family: Lato, Verdana, 'Courier New'; font-size: 16px; line-height: 19px; letter-spacing: 0.5px">ДЕЛИТЕСЬ ВАШИМ ВИДЕО В СОЦИАЛЬНОЙ СЕТИ <a href="https://vk.com/" style="color: #fff; text-decoration: underline;">ВКОНТАКТЕ</a></td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" width="100%" style="margin: 0 0 8px">
                <tr>
                    <td valign="top" style="width: 18px; padding: 0 13px 0 0"><img src="http://lab9.dnage.ru/resource/email/arrowDouble.png" /></td>
                    <td valign="top" style="color: #fff; font-family: Lato, Verdana, 'Courier New'; font-size: 16px; line-height: 19px; letter-spacing: 0.5px">ОТМЕЧАЙТЕ ТЕЛЕКАНАЛ «РОССИЯ» @RUSSIATV И МЕДИАПЛАТФОРМУ «СМОТРИМ» @SMOTRIM</td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" width="100%" style="margin: 0 0 8px">
                <tr>
                    <td valign="top" style="width: 18px; padding: 0 13px 0 0"><img src="http://lab9.dnage.ru/resource/email/arrowDouble.png" /></td>
                    <td valign="top" style="color: #fff; font-family: Lato, Verdana, 'Courier New'; font-size: 16px; line-height: 19px; letter-spacing: 0.5px">СТАВЬТЕ ХЭШТЕГ #РоссияТВиРадио #РоссияЯЛюблюТебя #выставкароссия</td>
                </tr>
            </table>
        </div>
        <div style="padding: 50px 30px 45px;">
            <p style="margin: 0 0 10px; color: #828282; font-family: Lato, Verdana, 'Courier New'; font-size: 16px; line-height: 19px; letter-spacing: 0.5px">Надеемся, что результат Вам понравится, и Вы с удовольствием будете вспоминать минуты, проведенные в наших интерактивных студиях телеканалов и радиостанций. Благодарим за посещение стенда Всероссийской государственной телевизионной и радиовещательной компании в павильоне «Мир цифры» на выставке «Россия».</p>
            <p style="margin: 0 0 10px; color: #828282; font-family: Lato, Verdana, 'Courier New'; font-size: 16px; line-height: 19px; letter-spacing: 0.5px">Каждые выходные Вас ждут специальные мероприятия, мастер-классы, лекции, встречи с ведущими, конкурсы и подарки.</p>
            <p style="margin: 0 0 10px; color: #828282; font-family: Lato, Verdana, 'Courier New'; font-size: 16px; line-height: 19px; letter-spacing: 0.5px">Не переключайтесь!</p>
            <p style="margin: 0 0 10px; color: #828282; font-family: Lato, Verdana, 'Courier New'; font-size: 16px; line-height: 19px; letter-spacing: 0.5px">Будем ждать Вас снова!</p>
            <div style="margin: 72px 0 82px;">
                <p style="margin: 0 0 18px; color: #828282; font-family: Lato, Verdana, 'Courier New'; font-size: 16px; line-height: 19px; letter-spacing: 0.5px; text-align: center">Мы в социальных сетях:</p>
                <table class="social" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td valign="top" style="width: 115px">
                            <div class="socIc" style="margin: 0 0 9px; height: 53px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/icons/rossiya.png);"></div>
                            <table style="margin: 0 auto;">
                                <tr>
                                    <td><a href="https://vk.com/russiatv" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/vk.png);"></a></td>
                                    <td style="width: 5px;"></td>
                                    <td><a href="https://ok.ru/russiatv" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/ok.png);"></a></td>
                                    <td style="width: 5px;"></td>
                                    <td><a href="https://t.me/tvrussia1" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/tg.png);"></a></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 36px"></td>
                        <td valign="top" style="width: 115px">
                            <div class="socIc" style="margin: 0 0 9px; height: 53px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/icons/smotrim.png);"></div>
                            <table style="margin: 0 auto;">
                                <tr>
                                    <td><a href="https://vk.com/smotrim" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/vk.png);"></a></td>
                                    <td style="width: 5px;"></td>
                                    <td><a href="https://ok.ru/smotrim" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/ok.png);"></a></td>
                                    <td style="width: 5px;"></td>
                                    <td><a href="https://t.me/smotrim_ru" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/tg.png);"></a></td>
                                    <td style="width: 5px;"></td>
                                    <td><a href="https://dzen.ru/smotrimru" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/dzen.png);"></a></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 36px"></td>
                        <td valign="top" style="width: 115px">
                            <div class="socIc" style="margin: 0 0 9px; height: 53px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/icons/rossiyak.png);"></div>
                            <table style="margin: 0 auto;">
                                <tr>
                                    <td><a href="https://vk.com/tvkultura" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/vk.png);"></a></td>
                                    <td style="width: 5px;"></td>
                                    <td><a href="https://ok.ru/tvkultura" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/ok.png);"></a></td>
                                    <td style="width: 5px;"></td>
                                    <td><a href="https://t.me/Russiacultura" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/tg.png);"></a></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 36px"></td>
                        <td valign="top" style="width: 115px">
                            <div class="socIc" style="margin: 0 0 9px; height: 53px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/icons/mayak_rec.png);"></div>
                            <table style="margin: 0 auto;">
                                <tr>
                                    <td><a href="https://vk.com/mayakfm" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/vk.png);"></a></td>
                                    <td style="width: 5px;"></td>
                                    <td><a href="https://ok.ru/mayakfm" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/ok.png);"></a></td>
                                    <td style="width: 5px;"></td>
                                    <td><a href="https://t.me/mayak_fm" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/tg.png);"></a></td>
                                    <td style="width: 5px;"></td>
                                    <td><a href="https://dzen.ru/radiomayak.ru" style="display: block; width: 15px; height: 15px; background-position: 50% 50%; background-size: contain; background-repeat: no-repeat; background-image: url(http://lab9.dnage.ru/resource/email/socials/dzen.png);"></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <p style="margin: 0 0 5px; color: #828282; font-family: Lato, Verdana, 'Courier New'; font-size: 10px; line-height: 12px; letter-spacing: 0.5px"><a href="https://smotrim.ru/" style="color: #0042AA; font-family: Lato, Verdana, 'Courier New'; font-size: 10px; letter-spacing: 0.5px; text-transform: uppercase">SMOTRIM.RU</a></p>
            <p style="margin: 0 0 5px; color: #828282; font-family: Lato, Verdana, 'Courier New'; font-size: 10px; line-height: 12px; letter-spacing: 0.5px">«Смотрим» — платформа ВГТРК, крупнейшей медиакорпорации в России. С ноября 2020 года «Смотрим» агрегирует в цифровой среде медиаконтент ВГТРК, созданный за 33 года и ежедневно пополняемый телерадиоканалами федерального, регионального и международного вещания, а также постепенной оцифровкой архивов ВГТРК и «Гостелерадиофонда».</p>
            <p style="margin: 0 0 5px; color: #828282; font-family: Lato, Verdana, 'Courier New'; font-size: 10px; line-height: 12px; letter-spacing: 0.5px">Экосистема платформы обеспечивает универсальный доступ через приложения для смартфонов, планшетов и смарт-ТВ, а также веб-версию на <a href="https://smotrim.ru/">Smotrim.ru</a> и <a href="https://xn--h1ahbgkdj.xn--p1ai/">Смотрим.рф</a>.</p>
            <p style="margin: 0 0 5px; color: #828282; font-family: Lato, Verdana, 'Courier New'; font-size: 10px; line-height: 12px; letter-spacing: 0.5px">Для подписчиков «Смотрим» доступен эксклюзивный контент: фильмы и сериалы до премьеры на ТВ, а также интервью и другие дополнительные материалы, снятые специально для медиаплатформы. Кроме того, подписка предоставляет ряд преимуществ: отключение рекламы, возможность досмотра, персонализации раздела «Избранное» и сохранение контента на своём устройстве.</p>
            <p style="margin: 0 0 5px; color: #828282; font-family: Lato, Verdana, 'Courier New'; font-size: 10px; line-height: 12px; letter-spacing: 0.5px">По данным SimilarWeb, в текущем году «Смотрим» удерживает второе место по популярности среди всех российских цифровых медиа-сервисов с профессиональным контентом.</p>
        </div>
    </div>
</div>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />

<style>
    @media only screen and (max-width: 480px) {
        table[class=social] DIV[class=socIc]{
            height: 40px !important;
        }
    }
    @media only screen and (max-width: 480px) {
        table[class=social], table[class=social] > tbody, table[class=social] > tbody > tr, table[class=social] > tbody > tr > td{
            display: block !important;
        }
        table[class=social] > tbody > tr > td{
            padding: 0 0 15px !important;
        }
    }
</style></body>